###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/.env.test.local
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/web-profiler-bundle ###
###< symfony/web-profiler-bundle ###

# Системные папки и IDE
/.idea/
/.vscode/
/vendor/

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
